@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



body{
  /* max-width: 1250px; */
  margin: 0 auto;
  background-color: #000;
  cursor: none;
}

/* Hide default cursor on desktop */
@media (min-width: 1024px) {
  * {
    cursor: none !important;
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

p,span,a,li,div{
  font-family: 'Raleway', sans-serif;
  color: #fff;
}